PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/junior-crud-db

# Email Setup (Leave empty to use Ethereal by default)
# SMTP_HOST=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASS=SG.xxxxx
